{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rehmat-e-Insaniyat</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/blue_btn.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/page_header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/extra_txtfx.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_fields.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/employee_home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/featured_items.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dropdown.css' %}">    

</head>
<body style="margin: 0;">
    <header>
        {% include 'navbar.html' %}
    </header>
    <content>
        <div data-aos="fade-up"> 
        {% block content %}
        {% endblock content %}
        </div>
    </content>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 300,
            offset: 300
        });
    </script>
<script defer src="{% static 'javascript/back_to_top_btn.js' %}"></script>
<script defer src="{% static 'javascript/login_verifier.js' %}"></script>
<script defer src="{% static 'javascript/sticky_header.js' %}"></script>
</html>