{% if user.is_authenticated %}
<a href="{% url 'logout' %}">
    <h3>
        Logout
    </h3>
</a>

<h3>
    <a href="{% url 'emp-home' %}">Home</a>

    <a href="{% url 'all-posts' %}">Posts</a>

    <a href="{% url 'departments' %}">Departments</a>

    <a href="{% url 'benificiaries' %}">Benificiaries</a>

    <a href="{% url 'donors' %}">Donors</a>

    <a href="{% url 'blood-donations' %}">Blood Donors</a>

    <a href="{% url 'donations' %}">Donations</a>

    <a href="{% url 'subscribers' %}">Subscribers</a>

    <a href="{% url 'faqs' %}">FAQs</a>

    <br>

    <a href="{% url 'drives' %}">Active Drives</a>

    <a href="{% url 'past-drives' %}">Past Drives</a>

    <a href="{% url 'ambulances' %}">Ambulances</a>

    <a href="{% url 'inventory' %}">Inventory</a>

    <a href="{% url 'dispensary' %}">Dispensary</a>

    <a href="{% url 'blood-bank' %}">Blood Bank</a>

    <a href="{% url 'pitches' %}">Pitches</a>

    <a href="{% url 'team' %}">Team</a>
    <br>

    <a href="{% url 'edit-profile' request.user.id %}">Edit Personal Profile</a>

    <a href="{% url 'volunteers' %}">Volunteers</a>
</h3>

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %} 
{% endif %}


{% else %}
    <a href="{% url 'login' %}">
        <h3>
            Employee Login
        </h3>
    </a>

    <a href="{% url 'visitor-home' %}">
        <h3>
            Home
        </h3>
    </a>

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %} 
{% endif %}

{% endif %}

<hr>