{% extends 'main.html' %}
{% block content %}
    <div class="pg_head_container">
        <element class="pg_head">Ambulances</element>
    </div>

    <table id="pg_divider" style="margin: 5%; width:90%">
        <tr>
            <td width=30% style="vertical-align: top; padding-right: 5%;">
                <element class="subhead">Search</element>
                <element class="pg_txt">{{ ambulances_count }} results.</element>
                <form method="GET" action="{% url 'ambulances' %}">
                    <input class="usr_rect" type="search" name="q" placeholder="Search Ambulances...">
                </form>
                <element class="subhead">Useful for you</element>
                <a href="{% url 'ambulances' %}"><button class="pst_filter">See All</button></a>
            </td>
            <td width="70%">
                {% if perms.employees.add_employee %}
                <a href="{% url 'add-ambulance'%}"><button class="blue_button">+ Add Ambulance</button></a>
                {% endif %}   
                
                {% for ambulance in ambulances %}
                <table class="pst_container" style="width: 80%; margin-left: 5%;">
                    <tr>
                        <td width=60%>
                            <div class="pst_title">{{ ambulance.plate_no }}</div>
                            <div class="pst_txt">{{ ambulance.driver.username}}</div>
                        </td>
                        <td width=30%>
                            {% if perms.employees.change_ambulance %}
                            <a href="{% url 'update-ambulance' ambulance.id %}"><button class="blue_button">Edit Driver</button></a>
                            {% endif %}   
                        </td>
                        <td>
                            {% if perms.employees.delete_ambulance %}
                            <a href="{% url 'remove-ambulance' ambulance.id %}"><button class="blue_button" style="background-color: #f30505;">Remove</button></a>
                            {% endif %}   
                        </td>
                    </tr>
                    
                </table>
                {% endfor %}
            </td>
        </tr>
    </table>

    


{% endblock content %}