{% extends 'main.html' %}
{% block content %}

<div>
    <form method="GET" action="{% url 'benificiaries' %}">
        <input type="text" name="q" placeholder="Search Benificiary...">
    </form>

    <div>
        <a href="{% url 'benificiaries' %}">All</a>
    </div>
    <div>
        <a href="{% url 'create-benificiary' %}">Create</a>
    </div>
</div>

<hr>

<div>
    <div>
        <h3>
            No of benificiaries: {{benificiary_count}}
        </h3>
    </div>
    {% for benificiary in benificiaries %}
    <div>
        <div>First name: {{ benificiary.first_name }}</div>
        <div>Last name: {{ benificiary.last_name }}</div>
        <div>Age: {{ benificiary.age }}</div>
        <div>Gender: {{ benificiary.gender }}</div>
        <div>Gender: {{ benificiary.department.name }}</div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'update-benificiary' benificiary.id %}">Edit</a>
        <a href="{% url 'remove-benificiary' benificiary.id %}">Delete</a>
        {% endif %}
        <hr>
    </div>
{% endfor %}

</div>

{% endblock content %}