{% extends 'main.html' %}
{% block content %}

<div class="pg_head_container">
    <element class="pg_head">Blood Donors</element>
</div>

<table id="pg_divider" style="margin: 5%; width:90%">
    <tr>
        <td width=30% style="vertical-align: top; padding-right: 5%;">
            <element class="subhead">Search</element>
            <element class="pg_txt">{{ blood_donation_count }} results.</element>
            <form method="GET" action="{% url 'blood-donations' %}">
                <input class="usr_rect" type="search" name="q" placeholder="Search Blood Donors...">
            </form>
            <element class="subhead">Useful for you</element>
            <a href="{% url 'blood-donations' %}"><button class="pst_filter">See All</button></a>
        </td>
        <td width="70%">
            {% for bdonation in blood_donations %}
            <table class="pst_container" style="width: 80%; margin-left: 5%;">
                <tr>
                    <td width=100%>
                        <div class="pst_title">{{ bdonation.donor.first_name }} {{ bdonation.donor.last_name }}</div>
                        <element class="pst_txt" style="padding-bottom: 0%;">{{ bdonation.donor.email }}, {{ bdonation.donor.phone_no }}</element>
                        <element class="pst_txt" style="display: block; font-size: 18px; margin-top: 0%;">{{ bdonation.date }}</element>
                    </td>
                    <td>

                    </td>
                </tr>
            </table>
            {% endfor %}
        </td>
    </tr>
</table>

{% endblock content %}