{% extends 'main.html' %}
{% block content %}

<div>
    <form method="GET" action="{% url 'inventory' %}">
        <input type="text" name="q" placeholder="Search Inventory Item...">
    </form>

    <div>
        <a href="{% url 'inventory' %}">All</a>
    </div>
</div>

<hr>

<div>
    <h3>
        <a href="{% url 'add-to-inventory'%}">Add New Item</a>
    </h3>
    
    {% for item in items %}
    <div>
        <div>Name: {{ item.item_name }}</div>
        <div>Count: {{ item.item_count }}</div>
        <div>Donated by: {{ item.donation.donor.firstname }} {{ item.donation.donor.last_name }} </div>
        <a href="{% url 'update-item' item.id %}">Edit</a>
        <a href="{% url 'deliver-item' item.id %}">Deliver</a>
        <hr>
    </div>
    {% endfor %}

</div>

{% endblock content %}