{% extends 'main.html' %}
{% block content %} 


<center>
    <div class="pst_container" style="width: 50%; margin: 8%;">
        <form method="POST" action="">
        {% csrf_token %}
        <element class="pst_title" style="margin-bottom: 0%;">Logout</element>
        <element class="pst_txt">You will be returned to the home page of the website as a visitor. Are you sure you want to log out?</element>
        <input type="submit" class="blue_button" style="background-color: #f30505;" value="Submit"/>
    </form>
    <a href="{{ request.META.HTTP_REFERER }}"><button class="blue_button">Cancel</button></a>
    </div>
</center>

{% endblock content %}