{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/blue_btn.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/page_header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_fields.css' %}">
    
<center>
    <div class="pg_head_container" style="margin-left: 0%; margin-top: 15%;">
        <element class="pg_head">Reset Password</element>
        <element class="pg_txt">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</element>
        <div class="pg_head_container_center" style="margin-top: 1%;">
            <div class="form_group form_group">
                <form method="post" action="">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form__group input" style="margin-left: -50%; margin-bottom: 10%; width: 200%;">
                        {{field}}
                    </div>
                    {% endfor %}
                    <input type="submit" class="blue_button" value="Send email"/>
                </form>
            </div>
        </div>
    </div>        
</center>