{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/blue_btn.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/page_header.css' %}">
    
<center>
    <div class="pg_head_container" style="margin-left: 0%; margin-top: 15%;">
        <element class="pg_head" style="color: rgb(255, 166, 0);">ἱ</element>
        <element class="pg_head" style="color: rgb(255, 166, 0);">Email Sent!</element>
        <element class="pg_txt">If you don't receive an email, please make sure
            you've entered the address you registered with, and
            check your spam folder.</element>
            
        <element class="pg_txt">We have emailed you instructions for setting your password, 
            if an account exists with the email you entered. You should 
            receive them shortly.</element>
    </div>        
</center>