{% extends 'main.html' %}
{% block content %} 

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{ field }}
        </div>
        {% endfor %}
        <input type="blue_button" value="Register"/>
        
        <p>Already have an account?</p>
        <a href="{% url 'login' %}"><button class="pst_txt_hyper">Sign in</button></a>
        <div class="usr_rect">{{ form.role }}</div>
    </form>
</div>

{% endblock content %}

