{% extends 'main.html' %}
{% block content %}

<div class="pg_head_container">
    <element class="pg_head">Subscriptions</element>
</div>

<table id="pg_divider" style="margin: 5%; width:90%">
    <tr>
        <td width=30% style="vertical-align: top; padding-right: 5%;">
            <element class="subhead">Search</element>
            <element class="pg_txt">{{ subscriber_count }} subscribers.</element>
            <form method="GET" action="{% url 'subscribers' %}">
                <input class="usr_rect" type="search" name="q" placeholder="Search Subscribers...">
            </form>
            
            <element class="subhead">Useful for you</element>
            <a href="{% url 'subscribers' %}"><button class="pst_filter">See All</button></a>
        </td>
        <td width="70%">
            {% for subscriber in subscribers %}
            <table class="pst_container" style="width: 80%; margin-left: 5%;">
                <tr width=100%>
                    <td width=85%>
                        <div class="pst_title">{{ subscriber.first_name }} {{ subscriber.last_name }}</div>
                        <element class="pst_txt" style="padding-bottom: 0%;">{{ subscriber.email }}, {{ subscriber.phone_no }}</element>
                        <element class="pst_txt" style="display: block; font-size: 18px; margin-top: 0%;">{{ subscriber.date }}</element>
                    </td>
                    <td> 
                        {% if perms.employees.delete_subscriber %}
                            <a href="{% url 'delete-subscriber' subscriber.id %}"><button class="blue_button" style="background-color: #f30505;">Remove Subscription</button></a>
                        {% endif %}
                    </td>
                </tr>
                
            </table>
            {% endfor %}
        </td>
    </tr>
</table>


{% endblock content %}