{% extends 'main.html' %} 
{% block content %}

<div>
  <form method="GET" action="{% url 'team' %}">
    <input type="text" name="q" placeholder="Search from our Team..." />
  </form>

  <div>
    <a href="{% url 'team' %}">All</a>
  </div>
</div>

<hr />

<div>
  <div>
    <h3>
      <p>Team Member Count: {{ team_count }}</p>
    </h3>
  </div>
  {% for employee in team %}
  <div>
    <div>First Name: {{ employee.first_name }}</div>
    <div>Last Name: {{ employee.last_name }}</div>
    <div>Role: {{ employee.role }}</div>
    <a href="{% url 'profile' employee.id %}">View</a>
    <hr />
  </div>
  {% endfor %}
</div>

{% endblock content %}
