{% extends 'main.html' %}

{% block content %}

<div class="pg_head_container">
    <element class="pg_head">About Us</element>
    
    <element class="subhead" style="margin-top: 5%;">Our vision</element>
    <element class="pg_txt">
        Our vision is to save lives, transform the lives of those in need, 
        and create fulfilling lives. Our values are driven by social justice, 
        the principles of equality and fairness, promoting greater diversity, 
        and a sense of pride in our history and communities.
    </element>
    
</div>
{% endblock content %}
