{% extends 'main.html' %}

{% block content %}

<div class="pg_head_container">
    <element class="pg_head">About Us</element>
</div>
    <table style="margin-left: 5%; margin-right: 5%;">
        <tr>
            <td width=50%>
                <div style="margin-right: 2.5%;">
                    <element class="subhead" style="margin-top: 5%;">Our vision</element>
                    <element class="pg_txt">
                        Our vision is to save lives, transform the lives of those in need, 
                        and create fulfilling lives. Our values are driven by social justice, 
                        the principles of equality and fairness, promoting greater diversity, 
                        and a sense of pride in our history and communities.
                    </element>

                    <element class="subhead" style="margin-top: 5%;">Who are we</element>
                    <element class="pg_txt">
                        Pakistan has a population of over 200 million, and people are living in extreme poverty. 
                        Healthcare infrastructure is weak, clean drinking water is not accessible, illiteracy 
                        and marginalization of women is prevalent. All of these issues have had a crippling 
                        impact on the quality of human life.
                    </element>
                    <element class="subhead" style="margin-top: 5%;">History</element>
                    <element class="pg_txt"> 
                        The charity was founded by Syed Jawad Haider Taqvi in 2016. It continued its welfare work
                        and gradually extended its activities. The foundation got Registration Certificate by the 
                        Govt. in 2022 Under the Registration No. RJSC/MB/1181. The foundation also got registration 
                        from SECP under the No. A088489 with a little change in the name as Habib-E-Insniat Foundation 
                        because the same name was unavailable there.
                    </element>

                    <element class="subhead" style="margin-top: 5%;">A little more insight</element>
                    <element class="pg_txt">    
                        Rehmat-e-Insaniat Foundation was named after the title of The Last Prophet Muhammad (SAW). 
                        The motto is to serve the humanity without any discrimination. We are working in different 
                        walks of life like health care, ambulance service, kidney dialysis center, blood donation, 
                        feeding the poor and needy monthly and occasionally as per need. The foundation collected 
                        and distributed an amount of 8 million during the pandemic of Corona through cooked food 
                        and provision of other utilities of life like face masks, hand sanitizers, dry grocery packs, 
                        medical treatment etc
                    
                    </element>
                </div>
            </td>
            <td style="vertical-align: top;">
                <div style="margin-left: 2.5%;">
                    <element class="subhead" style="margin-top: 5%;">Our work</element>
                    <iframe style="border-radius: 15px;" width="560" height="315" src="https://www.youtube.com/embed/VKk7SkQmNQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <element class="subhead" style="margin-top: 5%;">Rehmat-e-Insaniat and COVID-19</element>
                    <iframe style="border-radius: 15px;" width="560" height="315" src="https://www.youtube.com/embed/4YmZ7CpeYtA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </td>
        </tr>
    </table>
{% endblock content %}
